* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.container{
    padding: 0 180px;
}

boty{
    overflow: hidden;
}

.material{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content h1 {
    margin-top: 200px;
    color: #434654;
    font-size: 3rem;
}

.content p{
    color: #656d78;
    margin-top: 30px;
    margin-bottom: 80px;
    max-width: 500px;
    font-size: 1.2rem;
}

.content a{
    background-color: #35587b;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 35px;
    text-decoration: none;
    position: absolute;
}

.wrapper{
    overflow: hidden;
}

.features{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features-group-2{
    margin-left: 40px;
    margin-top: 50px;
    padding-bottom: 40px;
}

.feature-1,
.feature-2,
.feature-3,
.feature-4 {
    max-width: 250px;
    box-shadow: 0 .2rem 3rem rgba(0,0,0,.09);
    padding: 20px;
    background-color: #fff;
}

.feature-2{
    margin-top: 20px;
}

.feature-4{
    margin-top: 20px;
}

.features img{
    width: 140px;
    filter: drop-shadow(0 .1rem .2rem rgba(0,0,0,0.35));
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.features h2{
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15px 0 15px 0;
    color: #434a54;
}

.features p{
    font-size: .8rem;
    text-align: center;
    color: #434a54;
    line-height: 1.5;
}

.bg-img-1{
    width: 350px;
    position: absolute;
    top: 300px;
    left: -200px;
    z-index: -1;
    animation: rotateInfinite 35 linear infinite;
}

@keyframes rotateInfinite{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.bg-img-2{
    width: 300px;
    position: absolute;
    top: -20px;
    left: -150px;
    z-index: -1;
    animation: rotateInfinite 35 linear infinite;
}