@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, #f94526,#f02328);
    overflow:hidden;
}