:root{
    --white: #fff;
    --bgColor: #083358;
    --divsColor: #cb3b3b;
    --divImgColor: #ff9f68;
    --mouseOptionBgColor: #333644;
    --dividerColor: #656d78;
    --h1Color: #fff9d6;
    --pColor: #ffce54;
    --aColor: #fc6e51;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
     background-color: var(--bgColor);
     height: 100vh;
}

.wrapper{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    padding-top: 270px;
}

.div-open-data,
.div-close-data{
    color: var(--divsColor);
    font-size: 2rem;
}

.div-img{
    padding: 20px 0;
}

.div-img-data{
    margin-left: 50px;
    color: var(--divTegColor);
    font-size: 2rem;
}

.div-open-cursor,
.div-close-cursor,
.div-img-cursor{
    color: var(--white);
    animation: blick .4 ease infinite;
    opacity: 0;
    font-size: 2rem;
}

@keyframes blick{
    100%{
        opacity: 1;
    }
}

.mouse-animation img{
    width: 50px;
    height: 30px;
    transform: rotate(270deg) translate(-230px, 400px);
    opacity: 0;
    animation: move 5s ease forwards;
}

@keyframes move{
    1%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: rotate(270deg) translate(-20px, 100px);
    }
}

@keyframes move2{
    from{
        opacity: 1;
        transform: rotate(270deg) translate(-20px, 100px);
    }
    to{
        opacity: 1;
        transform: rotate(270deg) translate(-30px,200px);
    }
}

.mouse-options{
    max-width: 300px;
    background-color: var(--mouseOptionBgColor);
    box-shadow: 0 .2rem .4rem rgba(0,0,0,.25);
    margin-left: 120px;
    margin-top: -10px;
    opacity: 0;
}

.mouse-options p{
    color: var(--white);
    font-size: 1rem;
    padding: 10px 20px;
}

.divider{
    border: 1px solid var(--dividerColor);
    height: 1px;
    display: block;
    background-color: var(--dividerColor);
}

.error-page{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}