:root{
    --white: #fff;
    --bgColor: #083358;
    --divsColor: #cb3b3b;
    --divImgColor: #ff9f68;
    --mouseOptionBgColor: #333644;
    --dividerColor: #656d78;
    --h1Color: #fff9d6;
    --pColor: #ffce54;
    --aColor: #fc6e51;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
     background-color: var(--bgColor);
     height: 100vh;
}

.wrapper{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    padding-top: 270px;
}