:root{
    --white: #fff;
    --blackShadeColor: #323133;
    --leftSideBgCOlor: #f9b010;
    --yellowShadeColor: #f9b010;
    --ladiesCollectionBgColor: #7fd1ef;
    --gentsCollectionBgColor: #f1838f;
    --kidsCollectionBgColor: #c2aff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}