:root{
    --white: #fff;
    --blackShadeColor: #323133;
    --leftSideBgCOlor: #f9b010;
    --yellowShadeColor: #f9b010;
    --ladiesCollectionBgColor: #7fd1ef;
    --gentsCollectionBgColor: #f1838f;
    --kidsCollectionBgColor: #c2aff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr .15fr;
    grid-template-rows:1fr;
    height: 100vh;
    overflow: hidden;
}

.left-side{
    background-color: var(--leftSideBgCOlor);
    padding: 0 100px;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
}

nav li{
    margin-left: 30px;
}

.logo{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--blackShadeColor);
    line-height: 50px;
}

nav a{
    color: var(--blackShadeColor);
    font-size: 1.2rem;
    text-transform: capitalize;
}

.summer{
    font-family: 'Brush Script MT', sans-serif;
    color: var(--yellowShadeColor);
    font-size: 20rem;
    text-align: center;
    margin-top: -60px;
}
