@import url('https://fonts.googleapis.com/css2?family=Asap&family=Montserrat:wght@200&family=Open+Sans:wght@600&family=PT+Sans&family=Philosopher&family=Poppins:wght@200;500&family=Raleway:wght@100;200;300&family=Roboto:ital,wght@0,300;1,400&display=swap');

:root{
    --white: #fff;
    --nameColor: #323133;
    --listColor: #434a54;
    --lineColor: #e6e9ed;
    --priceColor: #e48e66;
    --btnColor: #0f3443;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}

.container{
    height: 100vh;
    background-image: url('./img/bg.svg');
    background-repeat: no-repeat;
    background-position: 0px -1020px;
    background-size: cover;
}

li{
    list-style: none;
    text-align: center;
}

.wrapper{
    padding: 0px 100px;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 500;
    color: var(--white);
    padding: 15px 0 12px 0;
}

.plans{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.basic-plan,
.premium-plan,
.ultimate-plan{
    background-color: var(--white);
    padding: 50px 30px 20px 30px;
    border-radius: 30px;
    width: 300px;
    box-shadow: 0 20px 40px rgba(0,0,0,.08);
}

img{
    width: 100px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.name{
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: var(--nameColor);
}

ul{
    margin: 40px;
    border-top: 2px solid var(--lineColor);
    border-bottom: 2px solid var(--lineColor);
}

li{
    line-height: 40px;
    color:var(--listColor);
}

.premium-plan{
    z-index: 2;
    height: 580px;
    width: 330px;
}

.basic-plan,
.ultimate-plan{
    height: 530px;
}

.basic-plan{
    position: relative;
    right: -10px;
}

.ultimate-plan{
    position: relative;
    left: -10px;
}

.price{
    font-size: 3rem;
    font-weight: 600;
    color: var(--priceColor);
    text-align: center;
}

sup,
sub{
    font-size: 1.2rem;
    font-weight: 500;
}

button{
    text-transform: capitalize;
    border: 1px solid var(--btnColor);
    background: var(--white);
    padding: 8px 30px;
    border-radius: 20px;
    color: var(--btnColor);
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    cursor: pointer;
    transition: box-shadow .3s ease;
    font-weight: 600;
    
}


button:hover{
    background: linear-gradient(0deg, #0f3443,#34e89e);
    box-shadow: 0 8px 16px -5px rgba(15, 52, 67,.5);
    color: var(--white);
    border:none;
}

@media screen and (max-width: 1128px){
    .container{
        background: linear-gradient(45deg, #0f3443, #34e89e);
        background-size: cover;
        height: 100%;
        padding-bottom: 20px;
    }
    .plans{
        flex-direction: column;
    }
    .basic-plan{
        right: 0;
        margin: 10px;
    }
    .ultimate-plan{
        left: 0;
        margin: 10px;
    }
    .premium-plan{
        height: 530px;
        width: 300px;
        margin: 10px;
    }
}